# keys
.env
.env*.local
*.pem

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# python
/venv
__pycache__/


# next.js
/.next/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts